!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Carta de Bienvenida
    %link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css")
    %link(href="style.css" rel="stylesheet")
    %script(src="app.js" defer)

  %body
    #stars
    #stars2
    #stars3
    #title
      %div#carta
        %p Cargando contenido de la carta...
